@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
  font-family: "Do Hyeon", sans-serif;
  letter-spacing: 1px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-image: url("../img/background6.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
span {
  color: #ff5f5f;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  font-size: 20px;
}
header {
  color: #fff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.input-field .input {
  height: 45px;
  width: 87%;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 45px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}
i {
  position: relative;
  top: -33px;
  left: 17px;
  color: #fff;
}
::-webkit-input-placeholder {
  color: #fff;
}
.submit {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  height: 45px;
  outline: none;
  width: 100%;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s;
}
.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.one {
  display: flex;
}
label a {
  text-decoration: none;
  color: #fff;
}
.butterfly {
  width: 60px;
  height: 60px;
  /* background-color: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.butterfly img {
  width: 100px;
}